---
// STEP03：DBプロパティごとにcomponentsフォルダ内に雛形を記述
import { Post } from '../lib/interfaces.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div class="formula">
  <p>{post.Formula}</p>
  <!-- {console.log(post.Formula)} -->
</div>

<style>
  .formula {
    color: var(--fg);
  }
  .formula a {
    color: rgb(55, 53, 47);
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    text-decoration: underline;
  }
  @media (max-width: 640px) {
    .formula a {
      width: 50%;
    }
  }
</style>
